body{
margin:0;
background:#071326;
color:white;
font-family:Arial;
}
main{
max-width:430px;
margin:auto;
padding:20px;
}
.card{
background:#111e35;
border-radius:22px;
padding:20px;
margin:15px 0;
}
button,select{
width:100%;
padding:15px;
margin-top:10px;
border-radius:14px;
border:0;
}
button{
background:#3478f6;
color:white;
font-weight:bold;
}
.role{
background:#38234d;
padding:25px;
font-size:28px;
text-align:center;
border-radius:15px;
margin-top:15px;
}
.hide{
display:none;
}